<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <p>Beta-Labs Pvt. Ltd</p>
      </header>
      <section>
        <nav>
          <a href="#">Link-1</a>
          <a href="#">Link-2</a>
          <a href="#">Link-3</a>
          <a href="#">Link-4</a>
          <a href="#">Link-5</a>
          <a href="#">Link-6</a>
          <a href="#">Link-7</a>
          <a href="#">Link-8</a>
          <a href="#">Link-9</a>
          <a href="#">Link-10</a>
          <a href="#">Link-11</a>
          <a href="#">Link-12</a>
          <a href="#">Link-13</a>
        </nav>
        <main>
          <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            autem voluptate ratione odit maxime in excepturi, similique
            molestias voluptates quae tempora aperiam officia nisi nemo earum
            corporis dignissimos mollitia repellendus!
          </h3>
          <div id="Images-container">
            <div class="image-Box">Image</div>
            <div class="image-Box">Image</div>
            <div class="image-Box">Image</div>
            <div class="image-Box">Image</div>
            <div class="image-Box last-two1">Image</div>
            <div class="image-Box last-two1">Image</div>
            <div class="image-Box last-two">Image</div>
            <div class="image-Box last-two">Image</div>
          </div>
        </main>
        <aside>
          <h2>About</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
            voluptate provident recusandae officia iste, molestiae, corporis
            laboriosam autem animi tempore nobis. Hic nam tempore vitae laborum
            eligendi corporis ad, odit esse neque magnam eum vero excepturi
            dignissimos! Excepturi, aperiam adipisci. Quam deleniti voluptate
            animi maxime ad quo repellat aut tempore? Lorem ipsum, dolor sit
            amet consectetur adipisicing elit. Suscipit, quo dignissimos?
            Quisquam aperiam non aliquid omnis illo laborum. Iure at ipsa
            laboriosam illum id alias, possimus accusantium voluptatem eum,
            debitis blanditiis error natus doloribus optio. Suscipit molestias
            libero facilis, velit aut quae harum provident delectus placeat
            voluptatem eum illum quos consequatur nulla maiores sapiente
            tempore, itaque animi. Distinctio saepe deserunt reiciendis? Rerum
          </p>
        </aside>
      </section>
      <footer>
        &copy; Beta-Labs Pvt. ltd.<time>Update on 05-07-2022</time>
      </footer>
    </div>
  </body>
</html>
