@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Animatecontainer {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(173, 40, 173); */
  background-image: linear-gradient(to top right, blue, pink, red);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.abox {
  width: 100px;
  height: 100px;
  border: 10px solid rgba(255, 255, 255, 0.473);
  border-top: 10px solid white;
  border-radius: 50%;
  animation: loader 1.5s linear infinite;
}

.Animatecontainer p {
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  letter-spacing: 5px;
  animation: flash 1.5s linear infinite;
  transition: 1s;
}
span {
  font-size: 50px;
}

@keyframes loader {
  0% {
    transform: none translateY(0px);
  }

  100% {
    transform: rotate(360deg) translateY(10px);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
